* {
    text-align: center;
}
h3 {
    margin: 0 auto;
}
.container, .buttons {
    display: flex;
    justify-content: center;
    align-items: center;
}
.pokemon {
    background-color: #95dada;
    padding: 25px;
}
.pokemon img {
    max-width: 200px;
}
.input-sr {
    width: 50px;
}
.button {
    margin: 10px;
}